@import "base/var";
@import "base/assist";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "base/base";

.container {
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  position: relative;
  background: url(../assets/header__bg1--mobile.jpg) no-repeat;
  min-height: 763px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: header__bg-switch 10s ease-in-out infinite backwards;

  @keyframes header__bg-switch {
    from {
      background: url(../assets/header__bg1--mobile.jpg) no-repeat;
    }

    31% {
      background: url(../assets/header__bg1--mobile.jpg) no-repeat;
    }

    35% {
      background: url(../assets/header__bg2--mobile.jpg) no-repeat;
    }

    64% {
      background: url(../assets/header__bg2--mobile.jpg) no-repeat;
    }

    68% {
      background: url(../assets/header__bg3--mobile.jpg) no-repeat;
    }

    98% {
      background: url(../assets/header__bg3--mobile.jpg) no-repeat;
    }

    to {
      background: url(../assets/header__bg1--mobile.jpg) no-repeat;
    }
  }

  &__nav-wrapper {
    padding-top: 20px;
  }

  &__logobox {
    display: flex;
    justify-content: center;
  }

  &__card {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../assets/header-card__bg--mobile.svg) center no-repeat;
    max-width: 320px;
    min-height: 210px;
    border: 0;
    border-radius: 0;
  }

  &__card-wrapper {
    padding: 30px 0;
    align-items: center;
  }

  &__card-title {
    margin-bottom: 0;
  }

  &__card-btn {
    background: $black;
    color: $yellow;
    border: none;
    padding: 19px 65px;
    border-radius: 0;
    transition: all 1s ease-in-out;
  }

  &__card-btn:hover,
  &__card-btn:focus,
  &__card-btn:active {
    color: $yellow;
    transform: scale(1.1);
    background: $black !important;
  }

  @media (min-width: 321px) {
    background: url(../assets/header__bg1--md.jpg) no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: header__bg-switch 10s ease-in-out infinite backwards;

    @keyframes header__bg-switch {
      from {
        background: url(../assets/header__bg1--md.jpg) no-repeat center;
      }

      31% {
        background: url(../assets/header__bg1--md.jpg) no-repeat center;
      }

      35% {
        background: url(../assets/header__bg2--md.jpg) no-repeat center;
      }

      64% {
        background: url(../assets/header__bg2--md.jpg) no-repeat center;
      }

      68% {
        background: url(../assets/header__bg3--md.jpg) no-repeat center;
      }

      98% {
        background: url(../assets/header__bg3--md.jpg) no-repeat center;
      }

      to {
        background: url(../assets/header__bg1--md.jpg) no-repeat center;
      }
    }
  }

  @media (min-width: 768px) {
    min-height: 1000px;
    
    &__logobox {
      display: flex;
      justify-content: start;
    }
  }

  @media (min-width: 1024px) {
    background: url(../assets/header__bg1--lg.jpg) no-repeat center;
    animation: header__bg-switch 10s ease-in-out infinite backwards;

    @keyframes header__bg-switch {
      from {
        background: url(../assets/header__bg1--lg.jpg) no-repeat center;
      }

      31% {
        background: url(../assets/header__bg1--lg.jpg) no-repeat center;
      }

      35% {
        background: url(../assets/header__bg2--lg.jpg) no-repeat center;
      }

      64% {
        background: url(../assets/header__bg2--lg.jpg) no-repeat center;
      }

      68% {
        background: url(../assets/header__bg3--lg.jpg) no-repeat center;
      }

      98% {
        background: url(../assets/header__bg3--lg.jpg) no-repeat center;
      }

      to {
        background: url(../assets/header__bg1--lg.jpg) no-repeat center;
      }
    }

    &__card {
      right: 36px;
      bottom: 0;
      background: url(../assets/header-card__bg--lg.svg) center no-repeat;
      max-width: 624px;
      max-height: 369px;
      width: 100%;
    }

    &__card-wrapper {
      padding: 70px;
      align-items: start;
    }

    &__card-title {
      text-align: left;
    }
  }

  @media (min-width: 1919px) {
    &__card {
      right: 320px;
      bottom: 0;
    }

    
  }
}

.night-citi {
  padding: 70px 0;

  &__textbox {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__title {
    text-align: start;
  }

  &__text {
    color: $gray;
  }

  &__imgbox {
    padding-top: 70px;
  }

  &__img {
    max-width: 100%;
    width: 100%;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 992px) {
    &__imgbox-flex {
      display: flex !important;
      flex-direction: row !important;
    }
  }
}

.play {
  position: relative;
  padding: 130px 0;
  background:
    url(../assets/play__noise-bg-top.png) top repeat-x,
    url(../assets/play__noise-bg-bot.png) bottom repeat-x;
  background-color: $black;

  &__action {
    width: 132px;
    height: 132px;
    transform: rotate(-45deg);
    background: url(../assets/action.svg) center no-repeat;
  }

  &__action-text {
    color: $yellow;
    font-family: Archangelsk;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__xss,
  &__ps5 {
    max-width: 100%;
  }

  &__form-name {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: 13px 0 13px;
  }

  &__form-name:focus {
    color: #fff;
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid $gray;
  }

  &__form-email {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: 13px 0 13px;
  }

  &__form-email:focus {
    color: #fff;
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid $gray;
  }

  &__form-file-cont {
    min-height: 120px;
    border: 1px dashed $gray;
    justify-content: center;
  }

  &__form-file {
    display: none;
  }

  &__form-file__title {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    text-align: center;
  }

  &__form-file__btn {
    background: $yellow;
    color: $black;
    border: none;
    padding: 15px 50px;
    border-radius: 0;
    transition: all 1s ease-in-out;
  }

  &__form-file__btn:hover,
  &__form-file__btn:focus,
  &__form-file__btn:active {
    color: $black;
    transform: scale(1.1);
    background: $yellow !important;
  }

  &__check-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__check-input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin-top: 0;
    border-radius: 0;
    border: 1px solid $gray;
    background-color: transparent;
    box-shadow: none;
  }

  &__check-input:checked[type="checkbox"] {
    background-image: url(../assets/check.svg);
    border: 1px solid $gray;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }

  &__check-label {
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  @media (max-width: 767px) {
    &__action {
      width: calc(52px + 2vw);
      height: calc(52px + 2vw);
      position: absolute;
      top: 67px;
      left: calc(1px + 10vw);
      background: url(../assets/action--md.svg) center no-repeat;
      background-size: contain;
    }

    &__action-text {
      font-size: calc(12px + 0.9vw);
    }
  }
}

.hp {
  background-color: $yellow;

  &__wrapper {
    padding: 70px 0 70px;
  }

  &__imgbox-top {
    padding-bottom: 42px;
  }

  &__imgbox-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
  }

  &__img {
    padding: 0;
    width: 100%;
  }

  &__title {
    padding-bottom: 25px;
  }

  &__text {
    color: $black;
    font-weight: 400;
    padding-bottom: 27px;
  }

  &__list {
    color: $black;
    font-weight: 400;
    padding-bottom: 40px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-bottom: 15px;
  }

  &__other-btn {
    background: $black;
    color: $yellow;
    border: none;
    padding: 19px 65px;
    border-radius: 0;
    transition: all 1s ease-in-out;
  }

  &__other-btn:hover,
  &__other-btn:focus,
  &__other-btn:active {
    color: $yellow;
    transform: scale(1.1);
    background: $black !important;
  }
}

.buy {
  background-color: $black;

  &__wrapper {
    padding: 0 0 70px;
  }

  &__imgsidebox {
    width: 100%;
    padding: 0;
  }

  &__img-side {
    width: 100%;
    padding: 0;
  }

  &__textbox {
    padding-top: 40px;
  }

  &__title {
    padding-bottom: 25px;
  }

  &__text {
    color: #52bedc;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 25px;
  }

  &__list {
    padding: 20px 0 40px;
  }

  &__list-item {
    font-weight: 400;
    display: flex;
    justify-content: start;
    gap: 18px;
    padding-bottom: 15px;
  }

  &__imgbox {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__imgrow {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.footer {
  background-color: $white;

  &__logo {
    padding: 40px 0 25px;
  }

  &__company-logo {
    padding-bottom: 25px;
  }

  &__licbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0 !important;
    background-color: $light-gray;
    color: $black;
    font-weight: 400;
  }

  &__bot {
    display: flex;
    justify-content: center;
    background-color: $black;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 0;
  }
}
